/* Typography */
.h1 {
    @apply text-4xl font-extrabold leading-tight tracking-tighter;
}

.h2 {
    @apply text-3xl font-extrabold leading-tight tracking-tighter;
}

.h3 {
    @apply text-3xl font-bold leading-tight;
}

.h4 {
    @apply text-2xl font-bold leading-snug tracking-tight;
}

@screen md {
    .h1 {
        @apply text-5xl;
    }

    .h2 {
        @apply text-4xl;
    }
}

/* Buttons */
.btn,
.btn-sm {
    @apply font-medium inline-flex items-center justify-center border border-transparent rounded-sm leading-snug transition duration-150 ease-in-out;
}

.btn {
    @apply px-8 py-3;
}

.btn-sm {
    @apply px-4 py-2;
}

/* Forms */
.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
    @apply bg-transparent border border-gray-700 focus:border-gray-500;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox {
    @apply rounded-sm;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select {
    @apply py-3 px-4;
}

.form-input,
.form-textarea {
    @apply placeholder-gray-500;
}

.form-select {
    @apply pr-10;
}

.form-checkbox,
.form-radio {
    @apply text-purple-600;
}

.tree-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .tree-row {
    display: flex;
    align-items: center;
  }
  
  .tree-node-box {
    border: 1px solid #333;
    padding: 10px;
    margin: 0 10px;
  }
  
  .tree-node {
    font-size: 16px;
    text-align: center;
  }
  
  .tree-connector {
    border-top: 1px solid #333;
    flex: 1;
    height: 20px;
  }
  
  /* Add additional styling as needed */
  /* Add this style for the top node */
.tree-node-copy {
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #333;
    background-color: #f0f0f0;
  }

.sidebar {
    width: 25%; /* Adjust as needed */
    min-width: 200px;
    height: 65vh; /* Set the sidebar's height to 100% of the viewport height */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    background-color: #1a1919; /* Sidebar background color */
    padding: 16px; /* Add some padding for spacing */

    position: fixed;
    top: 0;
    left: -250px; /* Initially off-screen on the left */
    width: 250px; /* Adjust the width as needed */
    height: 100%;
    background-color: #333;
    z-index: 1000;
    transition: left 0.3s ease-in-out;
}

.sidebar-desktop {
    position: fixed;
    max-width: 300px; /* Adjust as needed */
    min-width: 200px;
    top: 10vh;
    height: 65vh; /* Set the sidebar's height to 100% of the viewport height */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    background-color: #1a1919; /* Sidebar background color */
    padding: 16px; /* Add some padding for spacing */
}

.dark-font-color {
    color: #333; /* Use the color code you prefer */
}

.open {
    left: 0; /* Move the sidebar in when open */
}
  
.sidebar-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent overlay */
z-index: 999; /* Place the overlay below the sidebar */
}